<div class="discover">
  <div class="discover-container-headline">
    <div>
      <h1 class="discover-title">
        Discover Music Gems For Your Next Events
      </h1>
      <p class="discover-subtitle">
        Connect with your favorite artists, track their next events and invest in them to support their careers.
      </p>
    </div>
    <div class="discovery-container-buttons">
      <button class="discover-btn-primary">
        Get inspiration
      </button>

      <button class="discover-btn-secondary">
        Upload music
      </button>
    </div>
    <div class="discover-info">
      <div>
        <h2 class="discover-info-number">
          240k+
        </h2>
        <p class="discover-info-text">
          Tracks
        </p>
      </div>
      <div>
        <h2 class="discover-info-number">
          20k+
        </h2>
        <p class="discover-info-text">
          Events
        </p>
      </div>
      <div>
        <h2 class="discover-info-number">
          10k+
        </h2>
        <p class="discover-info-text">
          Artists
        </p>
      </div>
    </div>
  </div>
  <div class="discover-container-card">
    <div class="discover-card">
      <div class="discover-card-head">
        <div class="discover-card-header">
          <%= image_tag("priscilla-du-preez-v0kQglce46E-unsplash.jpg", class: "imgCard avatar") %>
          <div>
            <p class="discover-card-main-text">
              Electric Kush
            </p>
            <p class="discover-card-second-text">
              by Animakids
            </p>
          </div>
        </div>
         <i class="ri-more-2-line ri-xl ri-neutral-20"></i>
      </div>
      <%= image_tag("marco-mons-DIXT8Z9p-Sg-unsplash.jpg", class: "discover-card-img") %>
      <div class="discover-card-foot">
        <div class="discover-card-footer">
          <div class="discover-card-footer-btn">
             <i class="ri-play-circle-fill ri-xl ri-neutral-20"></i>
            <p class="discover-card-second-text">
              25.1k
            </p>
          </div>
          <div class="discover-card-footer-btn">
             <i class="ri-heart-fill ri-xl ri-neutral-20"></i>
            <p class="discover-card-second-text">
              1.5k
            </p>
          </div>
        </div>
         <i class="ri-bookmark-line ri-xl ri-neutral-20"></i>
      </div>
    </div>
  </div>
  <div class="discover-container-trend">
      <h2>Trending videos</h2>
      <div class="bar" data-controller="genre">
        <% @genres.each do |genre| %>
          <%= link_to events_path(genre: genre), class: "text-decoration-none text-secondary lh-lg icon-link #{genre}", data: {"genre-target": "genreButton", action: "click->genre#toggleColor" } do %>
            <i data-genre="<%= genre %>" class="<%= @genre_icon_classes[genre] %>" style="font-size: 20px;"></i>
            <p data-genre="<%= genre %>"><%= genre %></p>
        <% end %>
      <% end %>
          <%= link_to "My events", my_events_path, class: "text-white btn btn-primary m-3" if policy(Event).new? %>
    </div>
  </div>
</div>
