<% if user_signed_in? %>
  <!-- Navbar code here -->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("Mellow_d.png", alt: "logo", class: "navbar-brand-img", width: "100%") %>
      <% end %>

      <div>
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Events", events_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My Events", my_events_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My Bookings", my_bookings_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My Profile", edit_user_registration_path, class: "dropdown-item text-dark" %>
                <%= link_to "My Projects", "#", class: "dropdown-item text-dark" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item text-dark" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item"-->
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li-->
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
