<% if user_signed_in? %>
  <nav class="navbar">
    <div class="navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag('mellow-logo.svg', class: 'logo', alt: 'MellowD') %>
      <% end %>
    </div>



    <ul class="navbar-nav">
      <li class="navbar-item">
        <%= link_to discovers_path, class: "nav-link" do %>
          <i class="ri-music-line ri-xl"></i> Discover
        <% end %>
      </li>

      <li class="navbar-item">
        <%= link_to events_path, class: "nav-link" do %>
          <i class="ri-ticket-2-line ri-xl"></i> Events
        <% end %>
      </li>

      <li class="navbar-item">
        <%= link_to activity_path, class: "nav-link" do %>
          <i class="ri-calendar-check-line ri-xl"></i> Activity
        <% end %>
      </li>

      <li class="navbar-item">
        <%= link_to edit_user_registration_path, class: "nav-link" do %>
          <i class="ri-user-line ri-xl"></i> Profile
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>
