<div class="container">
  <h2 class="text-white my-4">Events I Created:</h2>
  <%= link_to "Create new event", new_event_path, class: "text-white btn btn-primary m-3" if policy(Event).new? %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4" data-event-target="events">
    <% @created_events.each do |event| %>
      <div class="col mb-4">
        <%= link_to event, class: "text-decoration-none" do %>
          <div class="card">
              <% if event.photo.attached?%>
                <%= image_tag url_for(event.photo)%>
              <% else %>
                <%= image_tag "https://picsum.photos/seed/picsum/200/200", class: "rounded", style: "border-radius: 15px !important;" %>
              <% end %>
            <h5 style="margin-top: 10px; margin-left: 5px; margin-bottom: 10px;"><strong><%= event.title %></strong></h5>
            <p style="margin: 5px; color: #706F8F;"><strong>Duration:</strong> <%= event.duration %> min</p>
            <p style="margin: 5px; color: #706F8F;"><strong>Description::</strong> <%= event.description %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

