<%= link_to events_path, class: "fs-4 text-white m-3" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="event-show-container">

  <div class="event-show-image">
  <% if @event.image.attached?%>
    <%= cl_image_tag @event.image.key, class: "rounded", style: "border-radius: 15px !important;" %>
  <% else %>
    <%= image_tag "https://picsum.photos/seed/picsum/200/200", class: "rounded", style: "border-radius: 15px !important;" %>
  <% end %>
  </div>

  <div class="event-show-postulate-button">
  <% if current_user.artist %>
    <%= link_to event_bookings_path(@event), data: { turbo_method: :post } do %>
      <p>Postulate position</p>
    <% end%>
  <% end %>
  </div>

  <div class="event-show-content-row">

    <div class="event-show-details">
      <%= render @event %>

      <% if policy(@event).edit? %>
        <%= link_to edit_event_path(@event) do %>
          <i class="fa-regular fa-pen-to-square text-white"></i>
        <% end %>
      <% end %>

      <% if policy(@event).destroy? %>
        <%= button_to @event, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "background-color: transparent; border-color: transparent;" do %>
          <i class="fa-regular fa-trash-can text-white"></i>
        <% end %>
      <% end %>
    </div>

  <div class="event-show-map">
    <div style="height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

</div>
