<div class="container d-flex flex-column justify-content-center align-items-center text-center">
  <p class="text-success display-4"><%= notice %></p>
<%= link_to events_path, class: "justify-content-start p-2 bd-highlight btn btn-secondary" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
  <div class="card-show">
    <img src="https://picsum.photos/seed/picsum/400/400" class="rounded" style="border-radius: 15px !important; width: 300px; height: 300px;">
   <%= render @event, class: "text-primary m-5" %>
  </div>
  <div class="mt-3 container d-flex d-flex justify-content-around align-items-center text-center">
<%= link_to edit_event_path(@event) do %>
  <i class="fa fa-pencil"></i>
<% end %>
<%= button_to @event, method: :delete, data: { confirm: "Are you sure?" } do %>
  <i class="fa fa-trash"></i>
<% end %>
  </div>
</div>
