<div class="text-center text-white">
  <img src="https://th.bing.com/th/id/OIG.HYuQ2tVozTi_krzbh3Td?pid=ImgGn" alt="Cover photo" class="banner">
  <div class="dashboard-banner-logo">
    Logo
  </div>

  <div class="container info">
    <h1><%= @dashboard.artist_name %></h1>
    <div class="d-flex justify-content-center">
      <div class="mx-3">
        <i class="fas fa-map-marker-alt"></i>
        <p><%= @dashboard.artist_location %></p>
      </div>
      <div class="mx-3">
        <i class="fas fa-users"></i>
        <p><%= @dashboard.artist_count %></p>
      </div>
      <div class="mx-3">
        <i class="fas fa-music"></i>
        <p><%= @dashboard.artist_genre %></p>
      </div>
    </div>
    <p>Artist Instrument: <%= @dashboard.artist_instrument %></p>
    <p>Traveling Artist: <%= @dashboard.artist_travel ? "Yes" : "No" %></p>
    <% if @dashboard.artist_travel %>
      <p>Traveling Radius: <%= @dashboard.artist_radius %> miles</p>
      <p>Traveling Cities: <%= @dashboard.artist_cities %></p>
    <% end %>

    <% if policy(@dashboard).edit? %>
      <%= link_to edit_dashboard_path(@dashboard) do %>
        <i class="fa-regular fa-pen-to-square text-white"></i>
      <% end %>
    <% end %>

    <% if policy(@dashboard).destroy? %>
      <%= button_to @dashboard, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "background-color: transparent; border-color: transparent;" do %>
        <i class="fa-regular fa-trash-can text-white"></i>
      <% end %>
    <% end %>
  </div>

  <div data-controller="tabs" data-id="<%= @dashboard.id %>">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="" data-action="click->tabs#showAudio" class="tab-underlined active">Audio</a>
      </li>
      <li>
        <a href="" data-action="click->tabs#showVideo" class="tab-underlined">Video</a>
      </li>
      <li>
        <a href="" data-action="click->tabs#showImages" class="tab-underlined">Images</a>
      </li>
    </ul>
    <div id="tab-content" data-tabs-target="content"></div>
  </div>

  <% if current_user.id != @dashboard.user.id && @dashboard.user.artist %>
    <%= link_to "Send message to artist", chatrooms_path(user_id: @dashboard.user), class: "btn btn-primary m-3", data: {turbo_method: :post} if policy(Event).new? %>
  <% end %>
</div>
